* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  color: white;
}

.pg-no {
  text-align: center;
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.card {
  justify-content: center;
}
